.formular-container {
  margin-top: 12vw;
  padding-top: 6vw;
}

.formular-tekst {
  margin-top: 6vw;
  text-align: center;
  color: var(--h2-inverted);
  border-bottom: 0.125rem solid var(--border-color);
  margin-bottom: 3vw;
}

input::input-placeholder,
textarea::input-placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:focus::input-placeholder,
textarea:focus::input-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::input-placeholder,
textarea:hover::input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::input-placeholder,
textarea:hover:focus::input-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: "Ranade";
  font-size: 0.875rem;
  width: min(92%, 480px);
  height: 3rem;
  padding: 0 0.9375rem; /* 15px */

  background: var(--tema-info-bg-color);
  color: #ffff;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ece9dd;
  color: #000000;
}

textarea {
  width: min(92%, 800px);
  max-width: 100%;
  height: 8rem;
  max-height: 20rem;
  padding: 0.9375rem;

  background: transparent;
  outline: none;

  color: #ffff;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #ece9dd;
  color: #000000;
}

#submit {
  width: min(92%, 480px);

  padding: 0;
  margin: -0.3125rem 0 0 0;

  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  color: #aca49c;
  font-weight: 100;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #000000;
}
